*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* @font-face {
    font-family: "NotoSans-Regular.ttf";
    src: url(./fonts/Noto-Sans/NotoSans-Regular.ttf);
} */
body{
    background-color: #76E1E9;
    font-family: calibri;
}
.body-section{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 65%;
    margin-left: 15em;
    margin-top: 4em;
    box-shadow: 10px 10px #68D4DB;
    justify-content: space-between;
}
/* Body Section 1 Begins */
.body-section-1{
    width: 50%;
    height: auto;
    background-color: #3986BE;
}
.body-section > .body-section-1 > h1{
    color: #FFFFFF;
    margin-left: 1.5em;
    margin-top: 1em;
}
.body-section > .body-section-1 > p{
    color: #FFFFFF;
    margin-left: 3em;
    margin-top: 1.5em;
}
.body-section > .body-section-1 >a > button{
    padding: 1em;
    outline: none;
    border: none;
    margin-left: 3em;
    margin-top: 2.5em;
    background-color: #FFFFFF;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.body-section > .body-section-1 > a > button{
    color: #3C3733;
    font-size: 1em;
    font-weight: 900;
    font-weight: bold;
    text-decoration: none;
}
.body-section > .body-section-1 > a > button:hover{
    color: #FFFFFF;
    background-color: #3986BE;
    cursor: pointer;
}
/* Body Section 1 Ends */

/* Body Section 2 Begins */
.body-section > .body-section-2{
    width: 50%;
    height: auto;
    background-color: #FFFFFF;
}
/*Error message Section Begins*/
#errBox{
    background-color: rgb(207, 66, 66);
    height: auto;
    width: 50%;
    /* display: flex;
    align-items: center;
    margin-bottom: 10px; */
}
#errBox p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    /* padding-left: 2px; */
}
/*Error message Section Ends*/
.body-section > .body-section-2 > h1{
    color: #507A9D;
    margin-top: 1em;
    margin-left: 1.2em;
}
.body-section > .body-section-2 > form{
    margin-left: 2em;
}
.body-section > .body-section-2 > form > .flex-1{
    display: flex;
    justify-content: space-between;
}
.body-section > .body-section-2 > form > .flex-1 > div{
    padding: 0.5em;
}
.body-section > .body-section-2 > form > .flex-1 > div > label{
    font-size: 1.2em;
    color: #73767F;
}
.body-section > .body-section-2 > form > .flex-1 > div > input{
    padding: 1em;
    outline: none;
    border: 2px solid #EAEAEA;
}
.body-section > .body-section-2 > form > .flex-1 > .flex-1-right{
    margin-right: 1em;
}
.body-section > .body-section-2 > form > .flex-2{
    display: flex;
    justify-content: space-between;
}
.body-section > .body-section-2 > form > .flex-2 > div{
    padding: 0.5em;
}
.body-section > .body-section-2 > form > .flex-2 > div > label{
    font-size: 1.2em;
    color: #73767F;
}
.body-section > .body-section-2 > form > .flex-2 > div > input{
    padding: 1em;
    outline: none;
    border: 2px solid #EAEAEA;
}
.body-section > .body-section-2 > form > .flex-2 > .flex-2-right{
    margin-right: 1em;
}
.body-section > .body-section-2 > form > .flex-3{
    display: flex;
    justify-content: space-between;
}
.body-section > .body-section-2 > form > .flex-3 > div{
    padding: 0.5em;
}
.body-section > .body-section-2 > form > .flex-3 > div > label{
    font-size: 1.2em;
    color: #73767F;
}
.body-section > .body-section-2 > form > .flex-3 > div > input{
    padding: 1em;
    outline: none;
    border: 2px solid #EAEAEA;
}
.body-section > .body-section-2 > form > .flex-3 > .flex-3-right{
    margin-right: 1em;
}
.body-section > .body-section-2 > form > .gender{
    margin-top: 1em;
}
.body-section > .body-section-2 > form > .select{
    margin-top: 1em;
}
.body-section > .body-section-2 > form > .select > select{
    padding: 0.5em;
    outline: none;
}
.body-section > .body-section-2 > form > .skill{
    margin-top: 1em;
}
.body-section > .body-section-2 > form > .term{
    margin-top: 1em;
}
.body-section > .body-section-2 > form > .term > a{
    color: #527E9C;
    text-decoration: none;
}
.body-section > .body-section-2 > form > .btn{
    margin-top: 1em;
    margin-bottom: 2em;
}
.body-section > .body-section-2 > form > div > .register{
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
    color: #E8FFFF;
    background-color: #3986BE;
    outline: none;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
/* Body Section 2 Ends */